p,
li {
    color:blue;
}

h1,
h2 {
    color:#3a3a3a;
    text-align: center;
}

.recipes-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.recipe-card {
    border: 2px solid #d3d3d3;
    background-color: #f6f6f6;
    width: 30em;
    height: 25em;
    border-radius: 5px;
    padding: 15px;
    margin: 10px;
    box-shadow: 2px 2px 5px rgba(0,0,0,0.1);
    text-align: center;
    align-items: center;
}
